<% if resource.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <ul class="list-group">
      <% resource.errors.full_messages.each do |message| %>
        <li class="list-group-item list-group-item-danger"><strong>*</strong> <%= message %></li>
      <% end %>
    </ul>
   
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
