// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card-hover:hover {
  filter: brightness(95%);
}
.card-hover a {
  text-decoration: none;
}
.card-hover p:hover {
  color: blue;
}