<div class="card">
    <div class="card-header fs-4 text-center text-primary p-5">
        Edit Category
    </div>
    <div card="card-body p-5">
       <%= render 'form', category: @category %>
    </div>
</div>
